<div class="container">
    <h2 class="text-center">Detail Pokemon</h2>
    <div *ngIf="pokemon" class="card border-primary">
        <img class="card-img-top w-25" src="{{pokemon.picture}}" alt="Title">
        <div class="card-body">
            <h4 class="card-title">{{ pokemon.name }}</h4>
            <h5 class="card-text"> 
               Le HP:  {{pokemon.hp}} <br>
               Le CP:  {{pokemon.cp}} <br>
               <span *ngFor="let t of pokemon.types" class="badge rounded-pill text-bg-primary">
                  {{t}}
               </span> <br>
                {{pokemon.created |date:"dd/MM/yyyy"}} 
            </h5>
        </div>
    </div>
    <div class="notfound" *ngIf="!pokemon">
        <h5><span class="badge bg-danger">Aucun pokemons</span> </h5>
    </div>
    <div class="listePokemons">
        <a (click)="listePokemons()" class="btn btn-primary">Liste de pokemons</a>
        <a *ngIf="pokemon" (click)="deletePokemon(pokemon)" class="btn btn-danger"  role="button">Delete</a>
        <a *ngIf="pokemon" (click)="editPokemon(pokemon)" class="btn btn-danger">Edit</a>
    </div>
</div>